ul {
  font-family:Optima, Arial, sans-serif;
  font-size: 16px
}

/*div {
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 100px;
}*/

body, html {
  height: 100%;
  margin: 0;
  font-family: Cochin, Georgia, serif;
  font-size: 16px;

}

h1 {
  font-family: Cochin, Georgia, serif;
  font-size: 72px;
}

h2 {
  font-family: Cochin, Georgia, serif;
  font-size: 36px;
}

h3 {
  font-family: Cochin, Georgia, serif;
  font-size: 36px;
  padding-top: 175px;
}

p {
  font-family: Optima, Arial, sans-serif;
  font-size: 16px;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/about/hero-gillian-field-bw.jpeg");
    /* Set a specific height */
  height: 50%;
    /* Position and center the image to scale nicely on all screens */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

    /* Place text in the to the right of the image */
.hero-text {
  text-align: right;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 0px;
}

.flex-container .box-left {
  width: 50%;
  margin: 0px;
  text-align: justify;
  line-height: 20px;
  font-size: 16px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 50px;
  padding-left: 100px;
}

.flex-container .box-right {
  width: 50%;
  margin: 0px;
  text-align: justify;
  line-height: 20px;
  font-size: 16px;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 25px;
}

img {
  float: left;
  margin-right: 15px;
}
