body, html {
  height: 100%;
  margin: 0;
  font-family: Cochin, Georgia, serif;
  font-size: 16px;
}

p {
  font-family: Optima, Arial, sans-serif;
  font-size: 16px;
}

h1 {
  font-family: Cochin, Georgia, serif;
  font-size: 72px;
}

h2 {
  font-family: Cochin, Georgia, serif;
  font-size: 36px;
  padding-left: 100px;
  padding-top: 25px;
}

/* hero image */
.hero-image {
    /* Use "linear-gradient" to add a darkened background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/merch/hero-photo-29.jpg");
    /* Set a specific height */
  height: 50%;
    /* Position and center the image to scale nicely on all screens */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

    /* Place text to the right of the image */
.hero-text {
  text-align: right;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
}

/*Filter function*/

.container {
  overflow: hidden;
  padding-left: 100px;
}

.filterDiv {
  float: left;
  background-color: white;
  color: black;
  width: 250px;
  line-height: 250px;
  text-align: center;
  margin: 5px;
  display: none;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
  padding-left: 100px;
  color: black;
  font-family: Cochin, Georgia, serif;
  font-size: 20px;
}

.btn:hover {
  background-color: white;
  color: black;
  font-family: Cochin, Georgia, serif;
  font-size: 20px;
}

.btn.active {
  background-color: white;
  color: black;
  font-family: Cochin, Georgia, serif;
  font-size: 20px;
  /*font-weight: bold;*/
}

img {
  width: 250px;
  height: 250px;
  display: block;
}
