body, html {
  height: 100%;
  margin: 0;
  font-family: Cochin, Georgia, serif;
  font-size: 16px;
}

p {
  font-family: Optima, Arial, sans-serif;
  font-size: 16px;
}

h1 {
  font-family: Cochin, Georgia, serif;
  font-size: 72px;
  padding-left: 100px;
}

h2 {
  font-family: Cochin, Georgia, serif;
  font-size: 36px;
  padding-left: 100px;
  padding-top: 25px;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/tour-date-icons/hero-photo-11.jpg");
    /* Set a specific height */
  height: 50%;
    /* Position and center the image to scale nicely on all screens */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

    /* Place text in the to the right of the image */
.hero-text {
  text-align: right;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px
}

a:link {
  color: #6ba7a6;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #857e28;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #718d96;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #cdc659;
  background-color: transparent;
  text-decoration: underline;
}

table,th,td {
  padding: 15px;
  font-family: Optima, Arial, sans-serif;
  font-size: 16px;

}

.table-container {
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 100px;
}

th {
  text-align: left;
}
